@using Models.Models
@model Models.ViewModels.GameViewModel


<div class="row pb-2">
    <h1 class="text-bg-primary">Create Game</h1>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">
    <input asp-for="Game.Id" hidden />
    <input asp-for="Game.ImageUrl" hidden />
    <div class="border p-3 mt-4">


        <div class="mb-3">
            <label asp-for="Game.Title"></label>
            <input asp-for="Game.Title" class="form-control" />
            <span asp-validation-for="Game.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Game.Description"></label>
            <textarea asp-for="Game.Description" class="form-control"></textarea>

        </div>
        <div class="mb-3">
            <label asp-for="Game.DevStudio"></label>
            <input asp-for="Game.DevStudio" class="form-control" />
            <span asp-validation-for="Game.DevStudio" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select asp-for="@Model.Game.GameCategoryId" asp-items="@Model.GameCategoryList">
                <option disabled selected>--Select Game Category--</option>
            </select>
            <label asp-for="Game.GameCategoryId" class="ms-2"></label>
            <span asp-validation-for="Game.GameCategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Game.PriceSteam"></label>
            <input asp-for="Game.PriceSteam" class="form-control" />
            <span asp-validation-for="Game.PriceSteam" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Game.PricePS"></label>
            <input asp-for="Game.PricePS" class="form-control" />
            <span asp-validation-for="Game.PricePS" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Game.PriceXbox"></label>
            <input asp-for="Game.PriceXbox" class="form-control" />
            <span asp-validation-for="Game.PriceXbox" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="file" name="file" class="form-control border-0 shadow" />
            <label asp-for="Game.ImageUrl"></label>

        </div>
        <div class="mb-3">
            <label asp-for="Game.TrailerUrl"></label>
            <input asp-for="Game.TrailerUrl" class="form-control" />
        </div>


        <button type="submit" class="btn btn-outline-primary bg-success bg-gradient" style="width:125px">Add</button>

        <a asp-controller="Game" asp-action="Index" class="btn btn-secondary" style="width:125px">
            Back
        </a>


    </div>
</form>



@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons  lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}