@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">You Paid for you Order</h1>
        Your Order Number is : @Model <br/><br/>
       
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
       We are going to send it as fast as we can <br/>
    </div>

</div> 