<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GGameShop</title>
   
</head>
<body>
    <div>
        <h1 class="welcome">Witamy w Sklepie GGameShop!</h1>
    </div>

    <section>
        <h2 class="first_line">Odkryj Świat Wspaniałej Zabawy!</h2>

        <article class="featured-games">
            <h3>Nasze Bestsellery</h3>

            <div>
                <img src="https://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6"
                     alt="Obraz Gry 1" />
                <p>
                    <strong>Counter-Strike: Global Offensive</strong><br />Krótki opis:
                    Ciesząca się ogromną popularnością gra Counter-Strike: Global
                    Offensive zabierze cię w niesamowite przygody. Zdobądź swoją kopię
                    już teraz!<br />Cena: 57.99 zł
                </p>
            </div>

            <div>
                <img src="https://cdn1.epicgames.com/offer/dda64c2956b54f1ba3cd97f6aaee775f/EGS_TotalWarWARHAMMERIIIShadowsofChange_CreativeAssembly_DLC_S1_2560x1440-d0d04fd0873124ab9ed3bafc1e778259"
                     alt="Obraz Gry 2" />
                <p>
                    <strong>Total War Warhammer 3 </strong><br />Krótki opis: Eksploruj
                    fantastyczny świat gry Total War Warhammer 3 i staw czoła
                    niesamowitym wyzwaniom. Zamów teraz i zacznij przygodę!<br />Cena:
                    95.99 zł
                </p>
            </div>
        </article>

        <article class="featured-games">
            <h3>Nowości</h3>

            <div>
                <img src="https://image.api.playstation.com/vulcan/ap/rnd/202302/2321/3098481c9164bb5f33069b37e49fba1a572ea3b89971ee7b.jpg"
                     alt="Obraz Nowej Gry 1" />
                <p>
                    <strong>Baldur's Gate 3</strong><br />Krótki opis: Najnowsza
                    produkcja, Baldur's Gate 3, już dostępna! Odkryj świeży świat i
                    przeżyj niezapomniane chwile.<br />Cena: 130.99 zł
                </p>
            </div>

            <div>
                <img src="https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d52751ffabb7b7_1200x1600-fbdf3cbc2980749091d52751ffabb7b7"
                     alt="Obraz Nowej Gry 2" />
                <p>
                    <strong>God of War</strong><br />Krótki opis: Poczuj dreszczyk
                    emocji z God of War. Świetna rozrywka czeka na Ciebie!<br />Cena:
                    70.99 zł
                </p>
            </div>
        </article>
    </section>

    <section class="asd">
        <h2>Dlaczego warto wybrać GGameShop</h2>
        <ul>
            <li>Szeroki wybór gier na różne platformy.</li>
            <li>Najnowsze tytuły i bestsellery.</li>
            <li>Konkurencyjne ceny i promocje.</li>
            <li>Szybka dostawa i łatwe zakupy online.</li>
        </ul>
    </section>

    <section class="review">
        <h2>Ostatnie Recenzje</h2>
        <p>Zobacz, co nasi klienci mówią o naszych grach!</p>
        <blockquote>
            <p>
                "GGameShop zawsze dostarcza najlepsze tytuły. Nie zawiodłem się
                jeszcze raz!" - Gracz123
            </p>
            <p>"Szybka dostawa i świetne ceny. Polecam!" - FankaGier</p>
        </blockquote>
    </section>

    <section class="community">
        <h2>Dołącz do Społeczności GGameShop</h2>
        <p>Bądź na bieżąco z nowościami i promocjami!</p>
        <ul>
            <li><a href="https://facebook.com/" target="”_blank”">Facebook</a></li>
            <li><a href="https://twitter.com/" target="”_blank”">Twitter</a></li>
            <li>
                <a href="https://www.instagram.com/" target="”_blank”">Instagram</a>
            </li>
        </ul>
    </section>

    <section class="contact">
        <h2>Kontakt</h2>
        <p>Masz pytania? Jesteśmy do Twojej dyspozycji!</p>
        <ul>
            <li>Adres Email: ggameshop@gmail.com</a></li>
            <li>Numer Telefonu: +48 987 654 321</a></li>
        </ul>
    </section>
</body>
</html>


<link href="~/css/style.css" rel="stylesheet" type="text/css">